Localization
{
	en-us
	{
		//Leopard
		#LOC_KP_Leopard_title = J-808 "Leopard" Afterburning Turbofan
		#LOC_KP_Leopard_description = A high performance jet engine with sustained afterburning capacity. Perfect choice when brute force is required. Slow RPM change necessitates longer than usual takeoff roll and landing approaches.
		
		//Zephyr
		#LOC_KP_Zephyr_title = J-U16 “Zephyr” Unducted Turbofan
		#LOC_KP_Zephyr_description = An experiment in improving the efficiency of turbofan engines, this cumbersome propfan has 16 exterior fan blades. Triple-dip systems is not liable for injury or dismemberment.
		
		//Tempest
		#LOC_KP_Tempest_title = J-A51 "Tempest" Afterburning Turbofan
		#LOC_KP_Tempest_description = A high performance jet engine with 2d thrust vectoring. .
    }
}




